modules = ["python-3.11", "postgresql-16"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["cairo", "cargo", "ffmpeg-full", "freetype", "ghostscript", "glibcLocales", "gobject-introspection", "gtk3", "libiconv", "pkg-config", "qhull", "rustc", "tcl", "tk"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Metavida App"

[[workflows.workflow]]
name = "Metavida App"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "uvicorn metavida_app:app --host 0.0.0.0 --port 5000"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 33259
externalPort = 6800

[[ports]]
localPort = 34031
externalPort = 3002

[[ports]]
localPort = 34243
externalPort = 8099

[[ports]]
localPort = 37037
externalPort = 6000

[[ports]]
localPort = 37971
externalPort = 8081

[[ports]]
localPort = 38737
externalPort = 5173

[[ports]]
localPort = 39795
externalPort = 8000

[[ports]]
localPort = 40049
externalPort = 8080

[[ports]]
localPort = 42683
externalPort = 8008

[[ports]]
localPort = 43633
externalPort = 4200

[[ports]]
localPort = 43709
externalPort = 3003

[[ports]]
localPort = 46193
externalPort = 5000

[[ports]]
localPort = 46229
externalPort = 3000

[[ports]]
localPort = 46661
externalPort = 3001
